---
---

@import "{{ site.theme }}";

nav {
	text-align: center;
	font-size: 1.5rem;
	border-bottom: solid #159957 2px;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav li {
	display: inline;
	margin: 0 1em 0 0;
}


.main-content figure.highlight {
    margin: 0;
    padding: 0.8rem;
    border-radius: 0.3rem;
    border: solid 1px #dce6f0;
    background-color: #f3f6fa;
}
.main-content figure.highlight td, .main-content figure.highlight pre {
    border: 0;
    padding: 0;
}
.main-content figure.highlight pre.lineno {
    color: #7ae;
    padding-right: 0.5rem;
}
